:root {
    --purple:#8f76a7;
    --darkgold:#e4c772;
    --lightgold:#fcf3d8;
    --lightpink:#f9edf1;
}
* {
    margin:0;
    padding:0;
    color:var(--purple);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-image:linear-gradient(180deg,#fff7df,#f9edf1);

}

.links-1 {
    background-color:var(--lightgold);
    display:flex;
    flex-direction: row;
    margin-left:auto;
    margin-right: auto;
    height: 30px;
    width: 900px;
    
}
.mainbody {
    width:900px;
    display:inline;
    text-align:center;
    line-height:1.6;

}
.header-1 {
    background-color:#fff7df;
    display:flex;
    justify-content: center;
    }

.photo {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 5em;
    border:4px solid var(--darkgold);
    box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.5);
}
h2 {
    margin-top:50px;
    color: var(--purple);
    text-decoration:underline;
}


main {
    background-color:#f9edf1;
    display:flex;
    justify-content: center;
}

.mainbody {
    background-color:var(--lightgold);
}

.portfolio li {

    margin-top:50px;
    margin-bottom:50px;
    display:inline-grid;
    align-items:center;
    list-style:none;
    width:25%;

}
.portfolio li img {
    border-radius: 10em;
    border:4px solid var(--darkgold);
    width:150px;
    height:150px;
}
.links-2 {
    display:flex;
    justify-content:center;
    flex-direction: row;
}
.links-2 img{
    width:25px;
    height:25px;
}

.footer {
    display:flex;
    justify-content:center;
    height:100px;
    padding:20px;
    background-image:linear-gradient(180deg,#f9edf1,#fff7df);
}

a:link {
    color:160, 221, 213;
    font-weight:bold;
    text-align:center;
}
a:visited {
    color: var(--purple);
    font-weight:bold;
    text-align:center; }

a:hover {
    color:var(--darkgold);
    font-weight:bold;
    text-align:center;
    
}
a:active {
    color: var(--darkgold);
    font-weight:bold;
    text-align:center;}

#photo1:hover {
    border:4px solid var(--purple);
    transform:scale(1.1)
}
#photo2:hover {
    border:4px solid var(--purple);
    transform:scale(1.1)
}
#photo3:hover {
    border:4px solid var(--purple);
    transform:scale(1.1)
}
#photo4:hover {
    border:4px solid var(--purple);
    transform:scale(1.1)
}
#photo5:hover {
    border:4px solid var(--purple);
    transform:scale(1.1)
}
#photo6:hover {
    border:4px solid var(--purple);
    transform:scale(1.1)
}

@media screen and (max-width:750px) {
    .portfolio li img {
        width:75px;
        height:75px; }
    .links-1 {
        height: 30px;
        width: 500px;    
        }
        .mainbody {
            width:500px;
        }}


/*/Citations:

For the gradient: https://cssgradient.io/
&nbsp: https://www.w3schools.com/html/html_entities.asp
For the box shadow: https://html-css-js.com/css/generator/box-shadow/